

.button {
  width: 50%;
  height: 210px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #000000;
  background-color: #D1CDC2;
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px #999;
}

.button:hover {background-color: #BEB2A7}

.button:active {
  background-color: #BEB2A7;
  box-shadow: 0 8px #666;
  transform: translateY(8px);
}

.button2 {
	width: 50%;
	height: 210px;
	text-align: center;
	cursor: pointer;
	outline: none;
	color: #000000;
	background-color: rgb(231, 212, 161);
	border: none;
	border-radius: 15px;
	box-shadow: 0 15px #999;
  }
  .button2:hover {background-color: rgb(211, 193, 144)}
  .button2:active {
	background-color: rgb(211, 193, 144);
	box-shadow: 0 8px #666;
	transform: translateY(8px);
  }



