div {
  max-width: 100%;
  max-height: 600px;
  /* overflow: scroll; */
}

/* Use position: sticky to have it stick to the edge
 * and top, right, or left to choose which edge to stick to: */

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
	top: 0;
	font-size: 15px;

}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
	left: 0;
	font-size: 15px;
}


/* To have the header in the first column stick to the left: */

thead th:first-child {
  left: 0;
  z-index: ;
}


/* Just to display it nicely: */

thead th {
  background: rgb(51, 63, 116);
  color: #FFF;
  /* Ensure this stays above the emulated border right in tbody th {}: */
  z-index: 1;
}

tbody th {
  background: rgb(255, 255, 255);
  border-right: 1px solid rgb(185, 107, 107);
  /* Browsers tend to drop borders on sticky elements, so we emulate the border-right using a box-shadow to ensure it stays: */
  box-shadow: 1px 0 0 0 #ccc;
}

table {
  border-collapse: collapse;
}

td,
th {
  
}

