<!DOCTYPE html>
<html lang="en">
<head>
	<!-- ********************************* BootStrap Local*******************************-->
	<script src="/static/bootstrap/js/1.11.3/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
	<!-- ***********************************************************************************-->
{% block grid %}
	<!-- Include Styling for Buttons and Frames -->
	<link rel="stylesheet" href="/static/style_1/grid_kiosk_main2.css?{{TCUR}">
	<link rel="stylesheet" href="/static/style_1/kiosk_main.css?{{TCUR}">
{% endblock %}
</head>

<body>
<meta name="apple-mobile-web-app-capable" content="yes" />

<img alt="full screen background image" src="/static/media/kiosk.jpeg?{{TCUR}}" id="full-screen-background-image"/>

<br><br><br>

{% block content%}  <!-- Main Block -->
<form action="" method="post">{% csrf_token %}
<br><br><br><br>

<center>

	<div class="frame1">
		<button class="button" type="submit" name="kiosk_button1" value="-1"><font size="6"><b>White Board<br>(Hourly Counts)</b></font></button>
	</div>
	<div class="frame1">
		<button class="button" type="submit" name="kiosk_button1" value="-2"><font size="6"><b>Production Entry<br>(End of Shift)</b></font></button>
	</div>
	<div class="frame1"><br><br><br><br><br><br><br>
		<button class="button2" type="button" onclick="window.location.href = '{{request.session.local_toggle}}/kiosk_help_form';">
			<font size="6"><b>Help</b></font>
		</button>
	</div>
	<div class="frame1"><br><br><br><br><br><br><br>
		<button class="button2" type="button" onclick="window.location.href = '{{request.session.local_toggle}}/kiosk_forklift_form';">
			<font size="6"><b>Call Forklift</b></font>
		</button>
		<br><br><br><br>	
	</div>

</center>




</form>



{% endblock %}  <!-- End Main Block -->

</body>
</html>
  
