<!DOCTYPE html>
<html>
<head>
		<script src="/static/bootstrap/js/1.11.3/jquery.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">

		
		<link rel="stylesheet" href="/static/style_1/numpad.css">
		<script src="/static/style_1/numpad.js"></script>
		<script src="/static/style_1/numpad_design.js"></script>
	</head>

	<body>
		<form>
			<br><br>
			<input type="number" class="form-control" id="num1">
		</form>
	</body>

	</html>