
<!doctype html>
<html lang="en">
<head>


    <title>9341 Tracking</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    

    <!-- Format for Background image -->

    <style>
        a:link {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: rgb(175, 175, 175);
            background-color: transparent;
            text-decoration: underline;
        }

        a:active {
            color: rgb(0, 0, 0);
            background-color: transparent;
            text-decoration: underline;
        }
    </style>
    <style>
        .main{
            padding-top: 15px;            
        }
        .heading {
            font-weight: bold;
            font-size: x-large;
            color: black;
            text-align: center;
            background-color: #bdb4b3;
            padding: 30px;
            margin-bottom: 20px;
        }
        .subheading {
            font-weight: bolder;
            font-size: larger;
            color: black;
            text-align: center;
            background-color: #bdb4b3;
            padding: 10px;
        }

        .c-op {
            flex: 0 0 100px;
            text-align: center;
            padding: 10px 0;
            background-color:#b0aea9;
            align-items: center;
        }
        .op {
            display: flex;
            height: 70px;
            width: 100%
        }
        .L10R80 {
            text-align: center;
            float: left;
            margin-bottom: 5px;
            width: 1060px;
        }
        .line-spacer{
            color: black;
            text-align: center;
            float: left;
            width: 100px;
        }
        .L10R60 {
            color: black;
            text-align: center;
            float: left;
            margin-bottom: 5px;
            width: 420px;
        }
        .mainline {
            float: left;
            width: 420px;
        }
        .offline {
            color: black;
            text-align: center;
            float: left;
            margin-bottom: 5px;
            width: 320px;
        }
        .uplift {
            color: black;
            text-align: center;
            float: left;
            margin-bottom: 5px;
            width: 320px;
        }
        .asset{  
            /* all items in div same size (https://stackoverflow.com/a/29503264) */
            flex: 1 1 0px;
            padding: 10px 0;
        }
        .asset-number{
            font-weight: bolder;
            font-size: large;
        }
        .asset-count{
            font-weight: bolder;
            font-size: medium;
        }
        body {
            background-color: rgb(151, 165, 177);
        }
        .borders{
            border: 1px solid gray;
            margin-left: -1px;
            margin-bottom: -1px;            
        }        
    </style>
</head>
<body>
    <div class="containter main d-flex justify-content-center">
        <div class="L10R80">
            <div class="heading" style="background-color:{{op_color.120}};">
                10R80 Predict ({{op.120}})
            </div>
            <div class="mainline"> <!-- MainLine Production-->
                <div class="subheading borders">Mainline</div>
                <div class="op">  <!-- OP 10  -->
                    <div class="c-op borders" style="background-color:{{op_color.10}}">
                        <div class="asset-number">OP10</div>
                        <div class="asset-count">({{op.10}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.0.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1504/"
            onclick="window.open('/dashboard/track_graph_track/get/1504/', 'newwindow', 'width=1400, height=600'); return false;">
            1504</a>
    </div>
    <div class="asset-count">({{codes.0.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.1.2}}">
    <div class="asset-number">
        <a href="{{request.session.local_toggle}}/track_graph_track/get/{{codes.1.2}}"
            onclick="window.open('{{request.session.local_toggle}}/track_graph_track/get/{{codes.1.0}}', 'newwindow', 'width=1400, height=600'); return false;">
            1506</a>
    </div>
    <div class="asset-count">({{codes.1.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.2.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1519/"
            onclick="window.open('/dashboard/track_graph_track/get/1519/', 'newwindow', 'width=1400, height=600'); return false;">
            1519</a>
    </div>
    <div class="asset-count">({{codes.2.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.3.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1520/"
            onclick="window.open('/dashboard/track_graph_track/get/1520/', 'newwindow', 'width=1400, height=600'); return false;">
            1520</a>
    </div>
    <div class="asset-count">({{codes.3.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 30  -->
                    <div class="c-op borders" style="background-color:{{op_color.30}}">
                        <div class="asset-number">OP30</div>
                        <div class="asset-count">({{op.30}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.4.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1502/"
            onclick="window.open('/dashboard/track_graph_track/get/1502/', 'newwindow', 'width=1400, height=600'); return false;">
            1502</a>
    </div>
    <div class="asset-count">({{codes.4.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.5.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1507/"
            onclick="window.open('/dashboard/track_graph_track/get/1507/', 'newwindow', 'width=1400, height=600'); return false;">
            1507</a>
    </div>
    <div class="asset-count">({{codes.5.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 40  -->
                    <div class="c-op borders" style="background-color:{{op_color.40}}">
                        <div class="asset-number">OP40</div>
                        <div class="asset-count">({{op.40}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.6.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1501/"
            onclick="window.open('/dashboard/track_graph_track/get/1501/', 'newwindow', 'width=1400, height=600'); return false;">
            1501</a>
    </div>
    <div class="asset-count">({{codes.6.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.7.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1515/"
            onclick="window.open('/dashboard/track_graph_track/get/1515/', 'newwindow', 'width=1400, height=600'); return false;">
            1515</a>
    </div>
    <div class="asset-count">({{codes.7.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 50  -->
                    <div class="c-op borders" style="background-color:{{op_color.50}}">
                        <div class="asset-number">OP50</div>
                        <div class="asset-count">({{op.50}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.8.2}}">
    <div class="asset-number">
        <a href="/track_graph_track/get/1508/"
            onclick="window.open('/track_graph_track/get/1508/', 'newwindow', 'width=1400, height=600'); return false;">
            1508</a>
    </div>
    <div class="asset-count">({{codes.8.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.9.2}}">
    <div class="asset-number">
        <a href="/track_graph_track/get/1532/"
            onclick="window.open('/track_graph_track/get/1532/', 'newwindow', 'width=1400, height=600'); return false;">
            1532</a>
    </div>
    <div class="asset-count">({{codes.9.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 60  -->
                    <div class="c-op borders" style="background-color:{{op_color.60}}">
                        <div class="asset-number">OP60</div>
                        <div class="asset-count">({{op.60}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.10.2}}">
    <div class="asset-number">
        <a href="/track_graph_track/get/1509/"
            onclick="window.open('/track_graph_track/get/1509/', 'newwindow', 'width=1400, height=600'); return false;">
            1509</a>
    </div>
    <div class="asset-count">({{codes.10.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 70  -->
                    <div class="c-op borders" style="background-color:{{op_color.70}}">
                        <div class="asset-number">OP70</div>
                        <div class="asset-count">({{op.70}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{request.session.fixed_color}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1514/"
            onclick="window.open('/dashboard/track_graph_track/get/1514/', 'newwindow', 'width=1400, height=600'); return false;">
            1514</a>
    </div>
    <div class="asset-count">({{codes.11.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 80  -->
                    <div class="c-op borders" style="background-color:{{op_color.80}}">
                        <div class="asset-number">OP80</div>
                        <div class="asset-count">({{op.80}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{request.session.fixed_color}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1510/"
            onclick="window.open('/dashboard/track_graph_track/get/1510/', 'newwindow', 'width=1400, height=600'); return false;">
            1510</a>
    </div>
    <div class="asset-count">({{codes.12.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 90  -->
                    <div class="c-op borders" style="background-color:{{op_color.110}}">
                        <div class="asset-number">OP90</div>
                        <div class="asset-count">({{op.110}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.29.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1513/"
            onclick="window.open('/dashboard/track_graph_track/get/1513/', 'newwindow', 'width=1400, height=600'); return false;">
            1513</a>
    </div>
    <div class="asset-count">({{codes.29.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 100  -->
                    <div class="c-op borders" style="background-color:{{op_color.100}}">
                        <div class="asset-number">OP100</div>
                        <div class="asset-count">({{op.100}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.13.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1503/"
            onclick="window.open('/dashboard/track_graph_track/get/1503/', 'newwindow', 'width=1400, height=600'); return false;">
            1503</a>
    </div>
    <div class="asset-count">({{codes.13.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 110  -->
                    <div class="c-op borders" style="background-color:{{op_color.110}}">
                        <div class="asset-number">OP110</div>
                        <div class="asset-count">({{op.110}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.14.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1511/"
            onclick="window.open('/dashboard/track_graph_track/get/1511/', 'newwindow', 'width=1400, height=600'); return false;">
            1511</a>
    </div>
    <div class="asset-count">({{codes.14.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 120  -->
                    <div class="c-op borders" style="background-color:{{op_color.120}}">
                        <div class="asset-number">Final</div>
                        <div class="asset-count">({{op.120}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes.30.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1533/"
            onclick="window.open('/dashboard/track_graph_track/get/1533/', 'newwindow', 'width=1400, height=600'); return false;">
            1533</a>
    </div>
    <div class="asset-count">({{codes.30.3}})</div>
</div>

                </div>
            </div>
            <div class="offline"> <!-- OffLine Production-->
                <div class="subheading borders">OffLine</div>
                <div class="op">  <!-- OP 10  -->
                    <div class="asset borders" style="background-color:{{codes.15.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1518/"
            onclick="window.open('/dashboard/track_graph_track/get/1518/', 'newwindow', 'width=1400, height=600'); return false;">
            1518</a>
    </div>
    <div class="asset-count">({{codes.15.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.16.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1521/"
            onclick="window.open('/dashboard/track_graph_track/get/1521/', 'newwindow', 'width=1400, height=600'); return false;">
            1521</a>
    </div>
    <div class="asset-count">({{codes.16.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.17.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1522/"
            onclick="window.open('/dashboard/track_graph_track/get/1522/', 'newwindow', 'width=1400, height=600'); return false;">
            1522</a>
    </div>
    <div class="asset-count">({{codes.17.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.18.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1523/"
            onclick="window.open('/dashboard/track_graph_track/get/1523/', 'newwindow', 'width=1400, height=600'); return false;">
            1523</a>
    </div>
    <div class="asset-count">({{codes.18.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 30  -->
                    <div class="asset borders" style="background-color:{{codes.19.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1539/"
            onclick="window.open('/dashboard/track_graph_track/get/1539/', 'newwindow', 'width=1400, height=600'); return false;">
            1539</a>
    </div>
    <div class="asset-count">({{codes.19.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.20.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1540/"
            onclick="window.open('/dashboard/track_graph_track/get/1540/', 'newwindow', 'width=1400, height=600'); return false;">
            1540</a>
    </div>
    <div class="asset-count">({{codes.20.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 40  -->
                    <div class="asset borders" style="background-color:{{codes.21.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1524/"
            onclick="window.open('/dashboard/track_graph_track/get/1524/', 'newwindow', 'width=1400, height=600'); return false;">
            1524</a>
    </div>
    <div class="asset-count">({{codes.21.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes.22.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1525/"
            onclick="window.open('/dashboard/track_graph_track/get/1525/', 'newwindow', 'width=1400, height=600'); return false;">
            1525</a>
    </div>
    <div class="asset-count">({{codes.22.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 50  -->
                    <div class="asset borders" style="background-color:{{codes.23.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1538/"
            onclick="window.open('/dashboard/track_graph_track/get/1538/', 'newwindow', 'width=1400, height=600'); return false;">
            1538</a>
    </div>
    <div class="asset-count">({{codes.23.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 60  -->
                    <div class="asset borders" style="background-color:{{codes.24.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1541/"
            onclick="window.open('/dashboard/track_graph_track/get/1541/', 'newwindow', 'width=1400, height=600'); return false;">
            1541</a>
    </div>
    <div class="asset-count">({{codes.24.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 70  -->
                    <div class="asset borders" style="background-color:{{request.session.fixed_color}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1531/"
            onclick="window.open('/dashboard/track_graph_track/get/1531/', 'newwindow', 'width=1400, height=600'); return false;">
            1531</a>
    </div>
    <div class="asset-count">(1002)</div>
</div>

                </div>
                <div class="op">  <!-- OP 80  -->
                    <div class="asset borders" style="background-color:{{request.session.fixed_color}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1527/"
            onclick="window.open('/dashboard/track_graph_track/get/1527/', 'newwindow', 'width=1400, height=600'); return false;">
            1527</a>
    </div>
    <div class="asset-count">(819)</div>
</div>

                </div>
                <div class="op"></div>  <!-- Placeholder -->
                <div class="op">  <!-- OP 100  -->
                    <div class="asset borders" style="background-color:{{codes.27.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1530/"
            onclick="window.open('/dashboard/track_graph_track/get/1530/', 'newwindow', 'width=1400, height=600'); return false;">
            1530</a>
    </div>
    <div class="asset-count">({{codes.27.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 110  -->
                    <div class="asset borders" style="background-color:{{codes.28.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1528/"
            onclick="window.open('/dashboard/track_graph_track/get/1528/', 'newwindow', 'width=1400, height=600'); return false;">
            1528</a>
    </div>
    <div class="asset-count">({{codes.28.3}})</div>
</div>

                </div>
            </div>
            <div class="uplift"> <!-- UpLift Production-->
                <div class="subheading borders">Uplift</div>

                <div class="op"><!-- OP 10  -->
                    <div class="asset borders" style="background-color:{{codes.40.2}}">
                        <div class="asset-number">
                            <a href="/dashboard/track_graph_track/get/1802/"
                                onclick="window.open('/dashboard/track_graph_track/get/1546/', 'newwindow', 'width=1400, height=600'); return false;">
                                1802</a>
                        </div>
                        <div class="asset-count">({{codes.40.3}})</div>
                    </div>
                </div>  


                <div class="op">  <!-- OP 30  -->
                    <div class="asset borders" style="background-color:#D5D5D5">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1546/"
            onclick="window.open('/dashboard/track_graph_track/get/1546/', 'newwindow', 'width=1400, height=600'); return false;">
            1546</a>
    </div>
    <div class="asset-count">(0)</div>
</div>

                </div>
                <div class="op">  <!-- OP 40  -->
                    <div class="asset borders" style="background-color:#D5D5D5">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1547/"
            onclick="window.open('/dashboard/track_graph_track/get/1547/', 'newwindow', 'width=1400, height=600'); return false;">
            1547</a>
    </div>
    <div class="asset-count">(---)</div>
</div>

                </div>
                <div class="op">  <!-- OP 50  -->
                    <div class="asset borders" style="background-color:{{codes.33.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1548/"
            onclick="window.open('/dashboard/track_graph_track/get/1548/', 'newwindow', 'width=1400, height=600'); return false;">
            1548</a>
    </div>
    <div class="asset-count">({{codes.33.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 60  -->
                    <div class="asset borders" style="background-color:{{codes.34.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1549/"
            onclick="window.open('/dashboard/track_graph_track/get/1549/', 'newwindow', 'width=1400, height=600'); return false;">
            1549</a>
    </div>
    <div class="asset-count">({{codes.33.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 70  -->
                    <div class="asset borders" style="background-color:{{codes.35.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/594/"
            onclick="window.open('/dashboard/track_graph_track/get/594/', 'newwindow', 'width=1400, height=600'); return false;">
            594</a>
    </div>
    <div class="asset-count">({{codes.33.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 80  -->
                    <div class="asset borders" style="background-color:{{codes.35.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1550/"
            onclick="window.open('/dashboard/track_graph_track/get/1550/', 'newwindow', 'width=1400, height=600'); return false;">
            1550</a>
    </div>
    <div class="asset-count">({{codes.33.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 90  -->
                    <div class="asset borders" style="background-color:{{codes.37.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1552/"
            onclick="window.open('/dashboard/track_graph_track/get/1552/', 'newwindow', 'width=1400, height=600'); return false;">
            1552</a>
    </div>
    <div class="asset-count">({{codes.37.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 100  -->
                    <div class="asset borders" style="background-color:{{codes.38.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/751/"
            onclick="window.open('/dashboard/track_graph_track/get/751/', 'newwindow', 'width=1400, height=600'); return false;">
            751</a>
    </div>
    <div class="asset-count">({{codes.38.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 110  -->
                    <div class="asset borders" style="background-color:{{codes.39.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1554/"
            onclick="window.open('/dashboard/track_graph_track/get/1554/', 'newwindow', 'width=1400, height=600'); return false;">
            1554</a>
    </div>
    <div class="asset-count">({{codes.39.3}})</div>
</div>

                </div>

                <div class="op">  <!-- OP 120  -->
                    <div class="asset borders" style="background-color:#D5D5D5">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1816/"
            onclick="window.open('/dashboard/track_graph_track/get/1554/', 'newwindow', 'width=1400, height=600'); return false;">
            1816</a>
    </div>
    <div class="asset-count">(97)</div>
</div>

                </div>
            </div>
        </div>
        <div class="line-spacer">
            <div class="op"> </div>
        </div>
        <div class="L10R60">
            <div class="heading" style="background-color:#FF7355;">
                10R60 Predict ({{codes_60.14.3}})
            </div>
            <div class="subheading borders">Mainline</div>
                <div class="op">  <!-- OP 10  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP10</div>
                        <div class="asset-count">({{op_60.10}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.0.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1800/"
            onclick="window.open('/dashboard/track_graph_track/get/1800/', 'newwindow', 'width=1400, height=600'); return false;">
            1800</a>
    </div>
    <div class="asset-count">({{codes_60.0.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes_60.1.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1801/"
            onclick="window.open('/dashboard/track_graph_track/get/1801/', 'newwindow', 'width=1400, height=600'); return false;">
            1801</a>
    </div>
    <div class="asset-count">({{codes_60.1.3}})</div>
</div>

                    <div class="asset borders" style="background-color:#D5D5D5">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1802/"
            onclick="window.open('/dashboard/track_graph_track/get/1802/', 'newwindow', 'width=1400, height=600'); return false;">
            1802</a>
    </div>
    <div class="asset-count">(0)</div>
</div>

                </div>
                <div class="op">  <!-- OP 30  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP30</div>
                        <div class="asset-count">({{op_60.30}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.3.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1529/"
            onclick="window.open('/dashboard/track_graph_track/get/1529/', 'newwindow', 'width=1400, height=600'); return false;">
            1529</a>
    </div>
    <div class="asset-count">({{codes_60.3.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes_60.5.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/776/"
            onclick="window.open('/dashboard/track_graph_track/get/776/', 'newwindow', 'width=1400, height=600'); return false;">
            776</a>
    </div>
    <div class="asset-count">({{codes_60.5.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes_60.6.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1824/"
            onclick="window.open('/dashboard/track_graph_track/get/1824/', 'newwindow', 'width=1400, height=600'); return false;">
            1824</a>
    </div>
    <div class="asset-count">({{codes_60.6.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes_60.4.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1543/"
            onclick="window.open('/dashboard/track_graph_track/get/1543/', 'newwindow', 'width=1400, height=600'); return false;">
            1543</a>
    </div>
    <div class="asset-count">({{codes_60.4.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 40  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP40</div>
                        <div class="asset-count">({{op_60.40}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.7.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1804/"
            onclick="window.open('/dashboard/track_graph_track/get/1804/', 'newwindow', 'width=1400, height=600'); return false;">
            1804</a>
    </div>
    <div class="asset-count">({{codes_60.7.3}})</div>
</div>

                    <div class="asset borders" style="background-color:{{codes_60.8.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1805/"
            onclick="window.open('/dashboard/track_graph_track/get/1805/', 'newwindow', 'width=1400, height=600'); return false;">
            1805</a>
    </div>
    <div class="asset-count">({{codes_60.8.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 50  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP50</div>
                        <div class="asset-count">({{op_60.50}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.9.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1806/"
            onclick="window.open('/dashboard/track_graph_track/get/1806/', 'newwindow', 'width=1400, height=600'); return false;">
            1806</a>
    </div>
    <div class="asset-count">({{codes_60.9.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 60  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP60</div>
                        <div class="asset-count">({{op_60.60}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.10.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1808/"
            onclick="window.open('/dashboard/track_graph_track/get/1808/', 'newwindow', 'width=1400, height=600'); return false;">
            1808</a>
    </div>
    <div class="asset-count">({{codes_60.10.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 70  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP70</div>
                        <div class="asset-count">({{op_60.70}})</div>
                    </div>
                    <div class="asset borders" style="background-color:{{codes_60.11.2}}">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1810/"
            onclick="window.open('/dashboard/track_graph_track/get/1810/', 'newwindow', 'width=1400, height=600'); return false;">
            1810</a>
    </div>
    <div class="asset-count">({{codes_60.11.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 80  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP80</div>
                        <div class="asset-count">({{op_60.80}})</div>
                    </div>
                    <div class="asset borders" style="background-color:#F7BA84">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1815/"
            onclick="window.open('/dashboard/track_graph_track/get/1815/', 'newwindow', 'width=1400, height=600'); return false;">
            1815</a>
    </div>
    <div class="asset-count">({{codes_60.12.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 90  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP90</div>
                        <div class="asset-count">({{op_60.100}})</div>
                    </div>
                    <div class="asset borders" style="background-color:#A4F6A4">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1542/"
            onclick="window.open('/dashboard/track_graph_track/get/1542/', 'newwindow', 'width=1400, height=600'); return false;">
            1542</a>
    </div>
    <div class="asset-count">({{codes_60.13.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 100  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP100</div>
                        <div class="asset-count">({{op_60.100}})</div>
                    </div>
                    <div class="asset borders" style="background-color:#A4F6A4">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1812/"
            onclick="window.open('/dashboard/track_graph_track/get/1812/', 'newwindow', 'width=1400, height=600'); return false;">
            1812</a>
    </div>
    <div class="asset-count">({{codes_60.13.3}})</div>
</div>

                </div>
                <div class="op">  <!-- OP 110  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">OP110</div>
                        <div class="asset-count">({{op_60.100}})</div>
                    </div>
                    <div class="asset borders" style="background-color:#A4F6A4">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1813/"
            onclick="window.open('/dashboard/track_graph_track/get/1813/', 'newwindow', 'width=1400, height=600'); return false;">
            1813</a>
    </div>
    <div class="asset-count">({{codes_60.13.3}})</div>v
</div>

                </div>
                <div class="op">  <!-- OP 120  -->
                    <div class="c-op borders" style="background-color:#D5D5D5">
                        <div class="asset-number">Final</div>
                        <div class="asset-count">(97)</div>
                    </div>
                    <div class="asset borders" style="background-color:#A4F6A4"">
    <div class="asset-number">
        <a href="/dashboard/track_graph_track/get/1816/"
            onclick="window.open('/dashboard/track_graph_track/get/1816/', 'newwindow', 'width=1400, height=600'); return false;">
            1816</a>
    </div>
    <div class="asset-count">(97)</div>
</div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>