{% extends "scrap_mgmt.html" %}
<!-- mgmt_display template form.html -->
{% block content %}
<br><br><br>
<div class ="mainset">
	<div class="frame8"><center>
		<font style="font-size: 35px; color:rgb(212, 212, 212); text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);">
		CNC Tech EPV Completion</font>
		<font style="font-size: 19px; color:rgb(212, 212, 212); text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);">
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Week {{request.session.EPV_Week}}</font>
		<br>
		<button style="background-color: #7f9180;border-radius: 10px;width:130px;height:30px;font-weight: 600;" onclick="window.location.href='{{request.session.local_toggle}}/previous_epv';"><center><font color="#000000"> << Previous Week</font></center></button>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		{% if request.session.direction5 != 0 %}
		<button style="background-color: #7f9180;border-radius: 10px;width:130px;height:30px;font-weight: 600;" onclick="window.location.href='{{request.session.local_toggle}}/next_epv';"><center><font color="#000000"> Next Week >></font></center></button>
		{% endif %}
		<div id="piechart_3d" style="width: 70%; height: 500px;"></div>
		

		<font style="font-size: 16px; color:rgb(250, 247, 103); text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);">
		95% of all EPVs are to be completed by Friday of each week. <br>
		Any outstanding EPVs must be completed on the weekend.<br>
		</font>
	</center>
	</div>
	<div class="frame9">
		
		<table>
			<tr>
			<td style="font-size: 24px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);" colspan="3">
			<b>EPVs Not Completed</b>
			</td>
			</tr>
			<tr>
				<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
				<b>Machine</b></td>
				<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
					<b>Check</b></td>
				<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
					<b>Q Code</b></td>
			</tr>
			{% for i in request.session.epv_left %}
			<tr>
			<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			{{i.8}} </td>
			<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			{{i.3}} </td>
			<td style="font-size: 14px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			{{i.1}}</td>
		</tr>

			{% endfor %}
		</table>
	</div>
</div>



	{% endblock %}