<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Priorities</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>



	<form action="" method="post" name="list7">{% csrf_token %}

		<font style="color:rgb(255, 255, 255)">
	<!-- <input style="font-size:23px;width:124px;height:60px;" name="list7">	 -->


<ul id="sortable">
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-6686</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-6729</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-4900</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-2421</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-2400</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-4916</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-9341</center></li>
<li style="background-color: #000000;border-radius: 10px;border-style:inset;border-color: rgb(243, 255, 80);width:150px;height:25px;font-weight: 600;">
<center>50-0455</center></li>
</ul>

</font>
<input type="submit">
</form>


<script>$("#sortable").sortable();</script>
 
</body>
</html>

