{% extends "master.html" %}

{% block content %}

<form action="" method="post">{% csrf_token %}
<br><br>
<font style="font-size: 24px; color:rgb(255, 233, 184);">
***** Manually Run Production Check*****  <br>
</font>
	<br><br><br>	

	<font style="font-size: 24px; color:rgb(0, 0, 0);">
<input style="font-size:23px;width:200px;height:60px;text-align:center;" type="date" name="date_en" value={{Curr}}>
<br>
<br>
<select style="font-size:20px;width:320px;height:30px;" name="shift" >
<optgroup label=" ">
<option value="Plant 1 Days">Plant 1 Days</option>
<option value="Plant 1 Aft">Plant 1 Aft</option>
<option value="Plant 1 Mid">Plant 1 Mid</option>
</optgroup><optgroup label=" ">
<option value="Plant 3 Days">Plant 3 Days</option>
<option value="Plant 3 Aft">Plant 3 Aft</option>
<option value="Plant 3 Mid">Plant 3 Mid</option>
</optgroup><optgroup label=" ">
<option value="Plant 4 Day">Plant 4 Day</option>
<option value="Plant 4 Aft">Plant 4 Aft</option>
<option value="Plant 4 Mid">Plant 4 Mid</option>
</optgroup>
</select>

</font>

<br><br><br>
<input style="background-color: #999999;border-radius: 10px;height:30px;" type="submit" name="button1" value="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ENTER&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;">

</form>
{% endblock %}