{% extends "scrap_mgmt.html" %}

{% block content %}

<table class="center">
	<tr>
		<td colspan='4' style="font-size: 28px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			&nbsp;&nbsp;&nbsp;<b>CNC Tech Asset PM</b>&nbsp;&nbsp;&nbsp;{{request.session.CNC_Tech_Overdue_PM}} Due
		</td>
	</tr>
	<tr>
        <td style="font-size: 24px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			&nbsp;&nbsp;&nbsp;Asset&nbsp;&nbsp;&nbsp;
		</td>
        <td style="font-size: 24px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			&nbsp;&nbsp;&nbsp;Due Date&nbsp;&nbsp;&nbsp;
		</td>
		<td style="font-size: 24px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			&nbsp;&nbsp;&nbsp;Last Check&nbsp;&nbsp;&nbsp;
		</td>
		<td style="font-size: 24px; color:rgb(53, 47, 47);border:1px solid rgb(255, 238, 0);background-color:rgb(158, 158, 158);">
			&nbsp;&nbsp;&nbsp;Assigned To&nbsp;&nbsp;&nbsp;
		</td>

	</tr>

	{% for i in request.session.PM_Tech_Due %}
		{% if i.3 = 1 %}
			<tr>
       		 <td style="font-size: 18px; color:rgb(214, 72, 72);border:1px solid rgb(255, 238, 0);">
					&nbsp;&nbsp;&nbsp;
          		  {{i.1}}
          		  &nbsp;&nbsp;&nbsp;
      		  </td>
       		 <td style="font-size: 18px; color:rgb(214, 72, 72);border:1px solid rgb(255, 238, 0);">
					&nbsp;&nbsp;&nbsp;
          		  {{i.0}}
          		  &nbsp;&nbsp;&nbsp;
       		 </td>
				<td style="font-size: 18px; color:rgb(214, 72, 72);border:1px solid rgb(255, 238, 0);">
					&nbsp;&nbsp;&nbsp;
           		 {{i.2}}
          		  &nbsp;&nbsp;&nbsp;
       		 </td>
				<td style="font-size: 18px; color:rgb(214, 72, 72);border:1px solid rgb(255, 238, 0);">
					&nbsp;&nbsp;&nbsp;
           		 {{i.4}}
          		  &nbsp;&nbsp;&nbsp;
       		 </td>
			</tr>
		{% else %}
		<tr>
			<td style="font-size: 18px; color:rgb(0, 0, 0);border:1px solid rgb(255, 238, 0);">
				&nbsp;&nbsp;&nbsp;
				{{i.1}}
				&nbsp;&nbsp;&nbsp;
			</td>
			<td style="font-size: 18px; color:rgb(0, 0, 0);border:1px solid rgb(255, 238, 0);">
				&nbsp;&nbsp;&nbsp;
				{{i.0}}
				&nbsp;&nbsp;&nbsp;
			</td>
			<td style="font-size: 18px; color:rgb(0, 0, 0);border:1px solid rgb(255, 238, 0);">
				&nbsp;&nbsp;&nbsp;
				{{i.2}}
				&nbsp;&nbsp;&nbsp;
			</td>
			<td style="font-size: 18px; color:rgb(0, 0, 0);border:1px solid rgb(255, 238, 0);">
				&nbsp;&nbsp;&nbsp;
				{{i.4}}
				&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		{% endif %}
		


{% endfor %}

</table>



{% endblock %}
