<br><br>
<meta http-equiv="refresh" content="5; url={{request.session.local_toggle}}/track_10r" />
Live Tracking
<br><br>
{{dt}}
<br><br>
shift time(sec):{{request.session.shift_time}}
<br><br><br><br>
Current shift target: {{request.session.target}}
<br><br>
Current Shift Count: {{request.session.count}}
<br><br>
Current Shift OA : {{request.session.oa}}%
<br><br>
End of Shift Projection : {{request.session.projection}}
<br><br>
<br><br>
Last Shift Count: {{request.session.count1}}
<br><br>
2nd Last Shift Count: {{request.session.count2}}
<br><br>
3rd Last Shift Count: {{request.session.count3}}
<br><br>




<br><br>
