
<html>
<body>
<head>

<script language="javascript" type="text/javascript"> 
function windowClose() { 
window.open('','_parent',''); 
window.close();
} 
</script>

	
	
</head>
<!-- ******   Load Scripts for graphs  ****** -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">


<!-- **************************************** -->


google.load('visualization', '1', {
    packages: ['corechart', 'line']
});
google.setOnLoadCallback(drawCurveTypes);

function drawCurveTypes() {

	var obj = [
			{% for item in GList %}
            [new Date({{item.0}}*1000),{{item.1}},{{item.2}},{{item.3}}],
            {% endfor %}
        ];

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Date');
    data.addColumn('number', 'Production');
    data.addColumn('number', 'Target');
	data.addColumn('number', '85% Target');
	data.addRows(obj)

 
    var options = {
		title: "10R80 Current Shift Chart",
		chartArea: {
			backgroundColor: {
				stroke: '#4322c0',
				strokeWidth: 3
			}
		},
		//backgroundColor: '#F5EBE1',
        hAxis: {
            title: 'Time',
			format: "HH:mm",
			gridlines: { count: 20 }
			
        },
		
        vAxis: {
            title: 'Quantity',
			gridlines: { count: 15 }
        },
        series: {
            1: {
                curveType: 'function'
            }
        }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
    </script>	
    
<!-- Begin HTML of Graph  -->


<!-- End of Menu Bar -->

<!-- <br><br>
<input type="button" value="Close this window" onclick="windowClose();"> -->
<meta http-equiv="refresh" content="10; url={{request.session.local_toggle}}/track_10r" />
<font size="6"><b><u>Live Tracking</u></b></font>

<br>
<div id="chart_div" style="width: 75%; height: 400px; "></div>
<br>



<br><br>

Current Shift Count: <b>{{request.session.count}}</b> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.wd}} 
{{request.session.m}}
{{request.session.day}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift}} Shift

<br><br>
Current Shift OA : {{request.session.oa}}%
<br><br>
Current shift target: {{request.session.target}}
<br><br>


End of Shift Projection : {{request.session.projection}}
<br><br>
<b><u>Previous Shifts</u></b>
<br><br>
{{request.session.wd1}} 
{{request.session.m1}}
{{request.session.day1}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift1}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count1}}
<br><br>

{{request.session.wd2}} 
{{request.session.m2}}
{{request.session.day2}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift2}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count2}}

<br><br>
{{request.session.wd3}} 
{{request.session.m3}}
{{request.session.day3}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift3}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count3}}
<br><br>
{{request.session.wd4}} 
{{request.session.m4}}
{{request.session.day4}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift4}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count4}}
<br><br>
{{request.session.wd5}} 
{{request.session.m5}}
{{request.session.day5}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift5}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count5}}
<br><br>
{{request.session.wd6}} 
{{request.session.m6}}
{{request.session.day6}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift6}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count6}}
<br><br>
{{request.session.wd7}} 
{{request.session.m7}}
{{request.session.day7}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift7}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count7}}
<br><br>
{{request.session.wd8}} 
{{request.session.m8}}
{{request.session.day8}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift8}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count8}}
<br><br>
{{request.session.wd9}} 
{{request.session.m9}}
{{request.session.day9}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift9}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count9}}
<br><br>




<br><br>

</body>

</html>
