
<html>
<body>
<head>

<script language="javascript" type="text/javascript"> 
function windowClose() { 
window.open('','_parent',''); 
window.close();
} 
</script>

<style type="text/css">
	.mainset{color:black;text-align:center;float:left;width:100%}
	.wrapper_main {background:chartreuse;width:90%;margin-left: 10px;}
	.frame1 {color:black;text-align:left;float:left;width:50%;margin-bottom: 5px;}
	.frame1_u {color:black;text-align:center;background:rgb(214, 214, 214);float:left;width:60%;margin: 20px;}
	.frame2{color:black;text-align:left;float:left;width:49%;position:relative;left:5px;margin-bottom: 5px;}
	.frame3 {color:black;text-align:center;background:rgb(61, 138, 64);float:left;width:51%;position:relative;}
	.frame4 {color:black;text-align:center;background:rgb(235, 142, 89);float:left;width:49%;position:relative;left:5px;}
	.frame5{color:black;text-align:center;background:rgb(168, 168, 168);float:right;width:40%}
	.head1{color:black;text-align:center;border: .4px solid rgb(0, 0, 0);background:rgb(114, 159, 243);width:85%}
	.head1_u{color:black;text-align:center;border: .4px solid rgb(0, 0, 0);background:rgb(255, 221, 169);width:100%}
	.head2_u{color:black;text-align:center;float:left;font-size: 60%;border: .4px solid rgb(0, 0, 0);background: rgb(184, 167, 142);width:25%}
	.body1_u{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:25%}
	.head2{color:black;text-align:center;float:left;font-size: 60%;border: .4px solid rgb(222, 231, 95);background: rgb(184, 167, 142);width:65%}
	.body1{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:85%}
	.body2{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:65%}
	.body3{color:black;text-align:center;background:rgb(199, 187, 166);float:left;width:33%;border: .4px solid rgb(0, 0, 0)}
	.body3h{color:black;text-align:center;background:rgb(187, 186, 184);float:left;width:33%;border: .4px solid rgb(0, 0, 0)}
	.body3t{color:black;text-align:center;background:rgb(187, 186, 184);float:left;font-size:medium;width:99%;border: .4px solid rgb(0, 0, 0)}

	
</style>
<style>
	table {
          border-collapse: collapse;
          border-spacing: 0;
          width: 85%;

        }
        th, td {
          text-align: left;
          padding: 2px;
        }

</style>
</head>
<!-- ******   Load Scripts for graphs  ****** -->
	<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->

	<script type="text/javascript" src="/static/style_1/loader.js"></script>


<script type="text/javascript">
<!-- **************************************** -->
google.load('visualization', '1', {
    packages: ['corechart', 'line']
});
google.setOnLoadCallback(drawCurveTypes);
function drawCurveTypes() {
	var obj = [
			{% for item in GList %}
            [new Date({{item.0}}*1000),{{item.1}},{{item.2}},{{item.3}}],
            {% endfor %}
        ];

    var data = new google.visualization.DataTable();
    data.addColumn('datetime', 'Date');
    data.addColumn('number', 'Production');
    data.addColumn('number', 'Target');
	data.addColumn('number', '85% Target');
	data.addRows(obj)

    var options = {
		title: "10R80 Current Shift Chart",
		chartArea: {
			backgroundColor: {
				stroke: '#4322c0',
				strokeWidth: 3
			}
		},
		//backgroundColor: '#F5EBE1',
        hAxis: {
            title: 'Time',
			format: "HH:mm",
			gridlines: { count: 20 }
			
        },
		
        vAxis: {
            title: 'Quantity',
			gridlines: { count: 15 }
        },
        series: {
            1: {
                curveType: 'function'
            }
        }
    };
    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}
    </script>	


<script type="text/javascript">
	<!-- **************************************** -->
	google.load('visualization', '1', {
		packages: ['corechart', 'line']
	});
	google.setOnLoadCallback(drawCurveTypes);
	function drawCurveTypes() {
		var obj = [
				{% for item in GList1 %}
				[new Date({{item.0}}*1000),{{item.1}},{{item.2}},{{item.3}}],
				{% endfor %}
			];
	
		var data = new google.visualization.DataTable();
		data.addColumn('datetime', 'Date');
		data.addColumn('number', 'Production');
		data.addColumn('number', 'Target');
		data.addColumn('number', '85% Target');
		data.addRows(obj)
	
		var options = {
			title: "Trilobe Current Shift Chart",
			chartArea: {
				backgroundColor: {
					stroke: '#4322c0',
					strokeWidth: 3
				}
			},
			//backgroundColor: '#F5EBE1',
			hAxis: {
				title: 'Time',
				format: "HH:mm",
				gridlines: { count: 20 }
				
			},
			
			vAxis: {
				title: 'Quantity',
				gridlines: { count: 15 }
			},
			series: {
				1: {
					curveType: 'function'
				}
			}
		};
		var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));
		chart.draw(data, options);
	}
		</script>
<!-- Begin HTML of Graph  -->


<!-- End of Menu Bar -->

<!-- <br><br>
<input type="button" value="Close this window" onclick="windowClose();"> -->
<meta http-equiv="refresh" content="30; url={{request.session.local_toggle}}/tracking" />

<div class="wrapper_main">
<div class="head1_u">
	<font size="6"><b><u>Live Tracking</u></b></font>
</div>
<div class="frame1">  

<br> 
<div id="chart_div" style="width: 100%; height: 400px; "></div>
<br>



<br><br>
<table><tr><td>
Current Shift Count: <b>{{request.session.count}}</b> 
</td><td>
{{request.session.wd}} 
{{request.session.m}}
{{request.session.day}},
2020 
</td><td>
{{request.session.shift}} Shift
</td></tr>
<tr><td>
Current Shift OA : {{request.session.oa}}%
</td><td>
Current shift target: {{request.session.target}}
</td><td>
End of Shift Projection : {{request.session.projection}}
</td></tr>
</table>
<br><br>


<b><u>Previous Shifts</u></b>
<br>
<table style="width:40%;border: 1px solid black;"><tr><td style="border:1px solid black;">
<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u1}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u1}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd1}} 
{{request.session.m1}}
{{request.session.day1}},
2020 
</a>
</td><td style="border:1px solid black;">
{{request.session.shift1}} Shift
</td><td style="border:1px solid black;">
{{request.session.count1}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u2}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u2}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd2}} 
{{request.session.m2}}
{{request.session.day2}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift2}} Shift
</td><td style="border:1px solid black;">
{{request.session.count2}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u3}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u3}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd3}} 
{{request.session.m3}}
{{request.session.day3}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift3}} Shift
</td><td style="border:1px solid black;">
{{request.session.count3}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u4}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u4}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd4}} 
{{request.session.m4}}
{{request.session.day4}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift4}} Shift
</td><td style="border:1px solid black;">
{{request.session.count4}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u5}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u5}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd5}} 
{{request.session.m5}}
{{request.session.day5}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift5}} Shift
</td><td style="border:1px solid black;">
{{request.session.count5}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u6}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u6}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd6}} 
{{request.session.m6}}
{{request.session.day6}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift6}} Shift
</td><td style="border:1px solid black;">
{{request.session.count6}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u7}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u7}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd7}} 
{{request.session.m7}}
{{request.session.day7}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift7}} Shift
</td><td style="border:1px solid black;">
{{request.session.count7}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u8}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u8}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd8}} 
{{request.session.m8}}
{{request.session.day8}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift8}} Shift
</td><td style="border:1px solid black;">
{{request.session.count8}}
</td></tr>
<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u9}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_10r_prev/get/{{request.session.u9}}', 'newwindow', 'width=1400, height=600'); return false;">
{{request.session.wd9}} 
{{request.session.m9}}
{{request.session.day9}},
2020 </a>
</td><td style="border:1px solid black;">
{{request.session.shift9}} Shift
</td><td style="border:1px solid black;">
{{request.session.count9}}
</td></tr>
</table>
<br><br>

</div>


<div class="frame2">  


	<br> 
	<div id="chart2_div" style="width: 100%; height: 400px; "></div>
	<br>

	<br><br>
	<table><tr><td>
	Current Shift Count: <b>{{request.session.counta}}</b> 
	</td><td>
	{{request.session.wd}} 
	{{request.session.m}}
	{{request.session.day}},
	2020 
	</td><td>
	{{request.session.shift}} Shift
	</td></tr>
	<tr><td>
	Current Shift OA : {{request.session.oaa}}%
	</td><td>
	Current shift target: {{request.session.targeta}}
	</td><td>
	End of Shift Projection : {{request.session.projectiona}}
	</td></tr>
	</table>
	<br><br>
	
	<b><u>Previous Shifts</u></b>
	<br>
	<table style="width:40%;border: 1px solid black;"><tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u1}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u1}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd1}} 
	{{request.session.m1}}
	{{request.session.day1}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift1}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count1a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u2}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u2}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd2}} 
	{{request.session.m2}}
	{{request.session.day2}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift2}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count2a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u3}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u3}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd3}} 
	{{request.session.m3}}
	{{request.session.day3}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift3}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count3a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u4}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u4}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd4}} 
	{{request.session.m4}}
	{{request.session.day4}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift4}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count4a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u5}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u5}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd5}} 
	{{request.session.m5}}
	{{request.session.day5}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift5}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count5a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u6}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u6}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd6}} 
	{{request.session.m6}}
	{{request.session.day6}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift6}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count6a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u7}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u7}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd7}} 
	{{request.session.m7}}
	{{request.session.day7}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift7}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count7a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u8}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u8}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd8}} 
	{{request.session.m8}}
	{{request.session.day8}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift8}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count8a}}
	</td></tr>
	<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.u9}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_tri_prev/get/{{request.session.9}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{request.session.wd9}} 
	{{request.session.m9}}
	{{request.session.day9}},
	2020 </a>
	</td><td style="border:1px solid black;">
	{{request.session.shift9}} Shift
	</td><td style="border:1px solid black;">
	{{request.session.count9a}}
	</td></tr>
	</table>
	<br><br>
	
	</div>



</div>


<br><br>

</body>

</html>
