<html>
	<body>
	<head>
	
	<script language="javascript" type="text/javascript"> 
	function windowClose() { 
	window.open('','_parent',''); 
	window.close();
	} 
	</script>
	
	<script>
		function all_track(){location.replace("{{request.session.local_toggle}}/tracking_10R80")}
		function L9341(){location.replace("{{request.session.local_toggle}}/chart1_9341")}
		function R9341(){location.replace("{{request.session.local_toggle}}/chart2_9341")}
		function L0455(){location.replace("{{request.session.local_toggle}}/chart1_0455")}
		function R0455(){location.replace("{{request.session.local_toggle}}/chart2_0455")}
		function L045530(){location.replace("{{request.session.local_toggle}}/chart1_0455_OP30")}
		function R045530(){location.replace("{{request.session.local_toggle}}/chart2_0455_OP30")}
		function L045540(){location.replace("{{request.session.local_toggle}}/chart1_0455_OP40")}
		function R045540(){location.replace("{{request.session.local_toggle}}/chart2_0455_OP40")}
		function L045550(){location.replace("{{request.session.local_toggle}}/chart1_0455_OP50")}
		function R045550(){location.replace("{{request.session.local_toggle}}/chart2_0455_OP50")}
		function L1467(){location.replace("{{request.session.local_toggle}}/chart1_1467")}
		function R1467(){location.replace("{{request.session.local_toggle}}/chart2_1467")}
		function L3050(){location.replace("{{request.session.local_toggle}}/chart1_3050")}
		function R3050(){location.replace("{{request.session.local_toggle}}/chart2_3050")}
		function L5710(){location.replace("{{request.session.local_toggle}}/chart1_5710")}
		function R5710(){location.replace("{{request.session.local_toggle}}/chart2_5710")}
		function L1467b(){location.replace("{{request.session.local_toggle}}/chart1_1467b")}
		function R1467b(){location.replace("{{request.session.local_toggle}}/chart2_1467b")}
		function L1467o(){location.replace("{{request.session.local_toggle}}/chart1_1467o")}
		function R1467o(){location.replace("{{request.session.local_toggle}}/chart2_1467o")}
		function L1467br(){location.replace("{{request.session.local_toggle}}/chart1_1467br")}
		function R1467br(){location.replace("{{request.session.local_toggle}}/chart2_1467br")}
		function L3050b(){location.replace("{{request.session.local_toggle}}/chart1_3050b")}
		function R3050b(){location.replace("{{request.session.local_toggle}}/chart2_3050b")}
		function L5710b(){location.replace("{{request.session.local_toggle}}/chart1_5710b")}
		function R5710b(){location.replace("{{request.session.local_toggle}}/chart2_5710b")}
		function L934130(){location.replace("{{request.session.local_toggle}}/chart1_9341_OP30")}
		function R934130(){location.replace("{{request.session.local_toggle}}/chart2_9341_OP30")}

		function L93411502(){location.replace("{{request.session.local_toggle}}/chart1_1502")}
		function R93411502(){location.replace("{{request.session.local_toggle}}/chart2_1502")}
		function L93411507(){location.replace("{{request.session.local_toggle}}/chart1_1507")}
		function R93411507(){location.replace("{{request.session.local_toggle}}/chart2_1507")}
		function L93411539(){location.replace("{{request.session.local_toggle}}/chart1_1539")}
		function R93411539(){location.replace("{{request.session.local_toggle}}/chart2_1539")}

		function L934180(){location.replace("{{request.session.local_toggle}}/chart1_9341_OP80")}
		function R934180(){location.replace("{{request.session.local_toggle}}/chart2_9341_OP80")}
		function L9341110(){location.replace("{{request.session.local_toggle}}/chart1_9341_OP110")}
		function R9341110(){location.replace("{{request.session.local_toggle}}/chart2_9341_OP110")}
		function L521430(){location.replace("{{request.session.local_toggle}}/chart1_5214_OP30")}
		function R521430(){location.replace("{{request.session.local_toggle}}/chart2_5214_OP30")}
		function L867080(){location.replace("{{request.session.local_toggle}}/chart1_8670_OP80")}
		function R867080(){location.replace("{{request.session.local_toggle}}/chart2_8670_OP80")}
		function L540480(){location.replace("{{request.session.local_toggle}}/chart1_5404_OP80")}
		function R540480(){location.replace("{{request.session.local_toggle}}/chart2_5404_OP80")}
		function L540180(){location.replace("{{request.session.local_toggle}}/chart1_5401_OP80")}
		function R540180(){location.replace("{{request.session.local_toggle}}/chart2_5401_OP80")}
		function L321430(){location.replace("{{request.session.local_toggle}}/chart1_3214_OP30")}
		function R321430(){location.replace("{{request.session.local_toggle}}/chart2_3214_OP30")}
	
	</script>
	
	<style type="text/css">
		.mainset{color:black;text-align:center;float:left;width:100%}
		.wrapper_main {background:chartreuse;width:90%;margin-left: 10px;}
		.frame1 {color:black;text-align:left;float:left;width:43%;margin-bottom: 5px;}
		.frame1_u {color:black;text-align:center;background:rgb(214, 214, 214);float:left;width:60%;margin: 20px;}
		.frame2{color:black;text-align:left;float:left;width:42%;position:relative;left:5px;margin-bottom: 5px;}
		.frame6{color:black;text-align:left;background:rgb(255, 255, 255);float:left;width:14%;position:relative;left:5px;margin-bottom: 5px;}
		.frame3 {color:black;text-align:center;background:rgb(61, 138, 64);float:left;width:51%;position:relative;}
		.frame4 {color:black;text-align:center;background:rgb(235, 142, 89);float:left;width:49%;position:relative;left:5px;}
		.frame5{color:black;text-align:center;background:rgb(168, 168, 168);float:right;width:40%}
		.head1{color:black;text-align:center;border: .4px solid rgb(0, 0, 0);background:rgb(114, 159, 243);width:85%}
		.head1_u{color:black;text-align:center;border: .4px solid rgb(0, 0, 0);background:rgb(245, 211, 160);width:100%}
		.head2_u{color:black;text-align:center;float:left;font-size: 60%;border: .4px solid rgb(0, 0, 0);background: rgb(184, 167, 142);width:25%}
		.body1_u{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:25%}
		.head2{color:black;text-align:center;float:left;font-size: 60%;border: .4px solid rgb(222, 231, 95);background: rgb(184, 167, 142);width:65%}
		.body1{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:85%}
		.body2{color:black;text-align:left;float: left;border: 1px solid rgb(0, 0, 0);width:65%}
		.body3{color:black;text-align:center;background:rgb(199, 187, 166);float:left;width:33%;border: .4px solid rgb(0, 0, 0)}
		.body3h{color:black;text-align:center;background:rgb(187, 186, 184);float:left;width:33%;border: .4px solid rgb(0, 0, 0)}
		.body3t{color:black;text-align:center;background:rgb(187, 186, 184);float:left;font-size:medium;width:99%;border: .4px solid rgb(0, 0, 0)}
	
		
	</style>
	<style>
		table {
						border-collapse: collapse;
						border-spacing: 0;
						width: 85%;
	
					}
					th, td {
						text-align: left;
						padding: 2px;
					}
	
	</style>
	</head>
	<!-- ******   Load Scripts for graphs  ****** -->
		<!-- <script type="text/javascript" src="https://www.google.com/jsapi"></script> -->
	
		<script type="text/javascript" src="/static/style_1/loader.js"></script>
	
	
	<script type="text/javascript">
	<!-- **************************************** -->
	google.load('visualization', '1', {
			packages: ['corechart', 'line']
	});
	google.setOnLoadCallback(drawCurveTypes);
	function drawCurveTypes() {
		var obj = [
				{% for item in GList %}
							[new Date({{item.0}}*1000),{{item.1}},{{item.2}},{{item.3}}],
							{% endfor %}
					];
	
			var data = new google.visualization.DataTable();
			data.addColumn('datetime', 'Date');
			data.addColumn('number', 'Production');
			data.addColumn('number', 'Target');
		data.addColumn('number', '85% Target');
		data.addRows(obj)
	
			var options = {
			title: "",
			chartArea: {
				backgroundColor: {
					stroke: '#4322c0',
					strokeWidth: 3
				}
			},
			//backgroundColor: '#F5EBE1',
					hAxis: {
							title: 'Time',
				format: "HH:mm",
				gridlines: { count: 20 }
				
					},
			
					vAxis: {
							title: 'Quantity',
				gridlines: { count: 15 }
					},
					series: {
							0: { curveType: 'function', color: '#08d40c'},
							1: { curveType: 'function', color: '#005eff'},
							2: { curveType: 'function', color: '#ffa033'},
					}
			};
			var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
			chart.draw(data, options);
	}
			</script>	
	
	<script type="text/javascript">
		<!-- **************************************** -->
		google.load('visualization', '1', {
				packages: ['corechart', 'line']
		});
		google.setOnLoadCallback(drawCurveTypes);
		function drawCurveTypes() {
			var obj = [
					{% for item in GList2 %}
								[new Date({{item.0}}*1000),{{item.1}},{{item.2}},{{item.3}}],
								{% endfor %}
						];
		
				var data = new google.visualization.DataTable();
				data.addColumn('datetime', 'Date');
				data.addColumn('number', 'Production');
				data.addColumn('number', 'Target');
			data.addColumn('number', '85% Target');
			data.addRows(obj)
		
				var options = {
				title: "",
				chartArea: {
					backgroundColor: {
						stroke: '#4322c0',
						strokeWidth: 3
					}
				},
				//backgroundColor: '#F5EBE1',
						hAxis: {
								title: 'Time',
					format: "HH:mm",
					gridlines: { count: 20 }
					
						},
				
						vAxis: {
								title: 'Quantity',
					gridlines: { count: 15 }
						},
						series: {
								0: { curveType: 'function', color: '#08d40c'},
								1: { curveType: 'function', color: '#005eff'},
								2: { curveType: 'function', color: '#ffa033'},
						}
				};
				var chart = new google.visualization.LineChart(document.getElementById('chart2_div'));
				chart.draw(data, options);
		}
				</script>	
		
	<!-- Begin HTML of Graph  -->
	
	
	<!-- End of Menu Bar -->
	
	<!-- <br><br>
	<input type="button" value="Close this window" onclick="windowClose();"> -->
	
	
	<meta http-equiv="refresh" content="10; url={{request.session.local_toggle}}/tracking" />
	
	<div class="wrapper_main">
	<div class="head1_u">
		<font size="6"><b><u>Live Tracking</u></b></font>
		<button style="position:absolute; left:80%;top:1%; background-color: #bba943;border-radius: 10px;width:70pxpx;height:25px;font-weight: 600;" onclick="all_track()">10R80 Tracking</button>

	</div>
	
	
	
	<div class="frame1">  
	<br> <center>
		<font style="font-size: 35px; color:rgb(141, 179, 236); text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);">
			{{request.session.area1}} 
	</font>
	</center>
	<div id="chart_div" style="width: 100%; height: 400px; "></div>
	<br>
	
	
	<table style="width:90%;border: 1px solid black;"<tr><td style="border:1px solid black;">
	<u>Current Shift Count:</u><br> <b>{{request.session.count1}}</b> 
	</td><td style="border:1px solid black;">
	{{request.session.wd}} 
	{{request.session.m}}
	{{request.session.day}},
	{{request.session.yr}}
	</td><td style="border:1px solid black;">
	{{request.session.shift}} Shift
	</td></tr>
	<tr><td style="border:1px solid black;">
	<u>Current Shift OA :</u><br> {{request.session.oa1}}%
	</td><td style="border:1px solid black;">
	<u>Current shift target: </u><br>{{request.session.target1}}
	</td><td style="border:1px solid black;">
	<u>End of Shift Projection : </u><br>{{request.session.projection1}}
	</td></tr>
	<tr><td>
		<u>Week to Date:</u> <br>{{request.session.week_count1}}
		</td><td style="border:1px solid black;">
		<u>Week Projection: </u><br>{{request.session.week_projection1}}
	</td><td style="border:1px solid black;">
		<u>Last Week: </u><br>{{request.session.week_count1a}}
	</td><td style="border:1px solid black;">
		<u>2 Weeks Ago: </u><br>{{request.session.week_count1b}}
		</td></tr>
	
	</table>
	<br><br>
	<b><u>Previous Shifts</u>  {{request.session.total_test}}</b>
	<br>
	<table style="width:40%;border: 1px solid black;"><tr><td style="border:1px solid black;">
	{% for i in datax %}
	<tr><td style="border:1px solid black;">
	<a href="{{request.session.local_toggle}}/track_graph_prev1/get/{{i.0}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_prev1/get/{{i.0}}', 'newwindow', 'width=1400, height=600'); return false;">
	{{i.1}}
	{{i.2}}
	{{i.3}},
	2020 
	</a></td>
	<td style="border:1px solid black;">
	{{i.4}} Shift
	</td><td style="border:1px solid black;">
	{{i.5}}
	</td></tr>
	{% endfor %}
	</table>
	</div>
	
	
	<div class="frame2">  
	
		<br> <center>
		<font style="font-size: 35px; color:rgb(141, 179, 236); text-shadow: 1px 1px 2px black, 0 0 25px rgb(0, 0, 0), 0 0 5px rgb(255, 255, 255);">
			{{request.session.area2}}
		</font>
	</center>
		<div id="chart2_div" style="width: 100%; height: 400px; "></div>
		<br>
		
		
	<table style="width:90%;border: 1px solid black;"<tr><td style="border:1px solid black;">
	<u>Current Shift Count:</u><br> <b>{{request.session.count2}}</b> 
	</td><td style="border:1px solid black;">
	{{request.session.wd}} 
	{{request.session.m}}
	{{request.session.day}},
	{{request.session.yr}}
	</td><td style="border:1px solid black;">
	{{request.session.shift}} Shift
	</td></tr>
	<tr><td style="border:1px solid black;">
	<u>Current Shift OA :</u><br> {{request.session.oa2}}%
	</td><td style="border:1px solid black;">
	<u>Current shift target: </u><br>{{request.session.target2}}
	</td><td style="border:1px solid black;">
	<u>End of Shift Projection : </u><br>{{request.session.projection2}}
	</td></tr>
	<tr><td>
		<u>Week to Date:</u> <br>{{request.session.week_count2}}
		</td><td style="border:1px solid black;">
		<u>Week Projection: </u><br>{{request.session.week_projection2}}
	</td><td style="border:1px solid black;">
		<u>Last Week: </u><br>{{request.session.week_count2a}}
	</td><td style="border:1px solid black;">
		<u>2 Weeks Ago: </u><br>{{request.session.week_count2b}}
		</td></tr>
	
	</table>
		<br><br>
		<b><u>Previous Shifts</u></b>
		<br>
		<table style="width:40%;border: 1px solid black;"><tr><td style="border:1px solid black;">
		{% for i in datax2 %}
		<tr><td style="border:1px solid black;">
		<a href="{{request.session.local_toggle}}/track_graph_prev2/get/{{i.0}}" onclick="window.open('{{request.session.local_toggle}}/track_graph_prev2/get/{{i.0}}', 'newwindow', 'width=1400, height=600'); return false;">
		{{i.1}}
		{{i.2}}
		{{i.3}},
		{{request.session.yr}}
		</a></td>
		<td style="border:1px solid black;">
		{{i.4}} Shift
		</td><td style="border:1px solid black;">
		{{i.5}}
		</td></tr>
		{% endfor %}
		</table>
		</div>
	
	
		<div class="frame6">
			<br><br><br>
	
	<center>
	<p><b><u>Tracking</u></b></p>	
	
	
	<table style="width:90%;border: 0px solid black;">
	<tr><td>
	<button onclick="L1467()">Left</button> </td><td>(1467 INSP)</td><td>  <button onclick="R1467()">Right</button>
	</td></tr><tr><td>
	<button onclick="L3050()">Left</button></td><td> (3050 INSP)</td><td>  <button onclick="R3050()">Right</button>
</td></tr><tr><td>
	<button onclick="L5710()">Left</button></td><td>  (5710 INSP) </td><td> <button onclick="R5710()">Right</button>
</td></tr><tr><td>
	<button onclick="L1467br()">Left</button></td><td>  (1467 Broached)</td><td>  <button onclick="R1467br()">Right</button>
</td></tr><tr><td>
	<button onclick="L1467o()">Left</button></td><td>  (728 Overflow)</td><td>  <button onclick="R1467o()">Right</button>
</td></tr><tr><td>
	<button onclick="L1467b()">Left</button></td><td>  (728 Faults)</td><td>  <button onclick="R1467b()">Right</button>
</td></tr><tr><td>
	<button onclick="L3050b()">Left</button></td><td>  (3050 Broach)</td><td>  <button onclick="R3050b()">Right</button>
</td></tr><tr><td>
	<button onclick="L5710b()">Left</button> </td><td> (5710 Broach)</td><td>  <button onclick="R5710b()">Right</button>
</td></tr><tr><td>
	<button onclick="L9341()">Left</button> </td><td> (9341 INSP) </td><td> <button onclick="R9341()">Right</button>

</td></tr><tr><td>
	<button onclick="L934130()">Left</button> </td><td>(9341 OP30)</td><td> <button onclick="R934130()">Right</button>
	</td></tr><tr><td>
		<button onclick="L93411502()">Left</button> </td><td>(9341 [1502])</td><td> <button onclick="R93411502()">Right</button>
		</td></tr><tr><td>	
	<button onclick="L93411507()">Left</button> </td><td>(9341 [1507])</td><td> <button onclick="R93411507()">Right</button>
</td></tr><tr><td>
	<button onclick="L93411539()">Left</button> </td><td>(1540) --- (1539)</td><td> <button onclick="R93411539()">Right</button>
	</td></tr><tr><td>

	<button onclick="L934180()">Left</button> </td><td> (1510) ---(1527)</td><td>  <button onclick="R934180()">Right</button>
</td></tr><tr><td>
	<button onclick="L9341110()">Left</button> </td><td> (1511) -- (1528) </td><td> <button onclick="R9341110()">Right</button>
</td></tr><tr><td>
	<button onclick="L0455()">Left</button></td><td>  (0455 INSP) </td><td> <button onclick="R0455()">Right</button>
</td></tr><tr><td>
	<button onclick="L045530()">Left</button></td><td>  (0455 OP30) </td><td> <button onclick="R045530()">Right</button>
</td></tr><tr><td>
	<button onclick="L045540()">Left</button></td><td>  (0455 OP40) </td><td> <button onclick="R045540()">Right</button>
	</td></tr><tr><td>
	<button onclick="L045550()">Left</button></td><td>  (0455 OP50) </td><td> <button onclick="R045550()">Right</button>
	</td></tr><tr><td>
	<button onclick="L521430()">Left</button> </td><td> (5214 OP30) </td><td> <button onclick="R521430()">Right</button>
</td></tr><tr><td>
	<button onclick="L321430()">Left</button> </td><td> (3214 OP30)</td><td>  <button onclick="R321430()">Right</button>
</td></tr><tr><td>
	<button onclick="L867080()">Left</button></td><td>  (8670 OP80) </td><td> <button onclick="R867080()">Right</button>
</td></tr><tr><td>
	<button onclick="L540480()">Left</button> </td><td> (5404 OP80) </td><td> <button onclick="R540480()">Right</button>
</td></tr><tr><td>
	<button onclick="L540180()">Left</button> </td><td> (5401 OP80) </td><td> <button onclick="R540180()">Right</button>
</td></tr></table>
	</div>
	
	
	</div>
	
	
	<br><br>
	
	
	</body>
	
	</html>