<br><br>
<meta http-equiv="refresh" content="5; url={{request.session.local_toggle}}/track_10r" />
<font size="6"><b><u>Live Tracking</u></b></font>
<br><br><br><br>

<!-- 
{{dt}}
<br><br>
shift time(sec):{{request.session.shift_time}}

 -->


Current Shift Count: <b>{{request.session.count}}</b> 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.wd}} 
{{request.session.m}}
{{request.session.day}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift}} Shift

<br><br>
Current Shift OA : {{request.session.oa}}%
<br><br>
Current shift target: {{request.session.target}}
<br><br>


End of Shift Projection : {{request.session.projection}}
<br><br>
<b><u>Previous Shifts</u></b>
<br><br>
{{request.session.wd1}} 
{{request.session.m1}}
{{request.session.day1}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift1}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count1}}
<br><br>

{{request.session.wd2}} 
{{request.session.m2}}
{{request.session.day2}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift2}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count2}}

<br><br>
{{request.session.wd3}} 
{{request.session.m3}}
{{request.session.day3}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift3}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count3}}
<br><br>
{{request.session.wd4}} 
{{request.session.m4}}
{{request.session.day4}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift4}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count4}}
<br><br>
{{request.session.wd5}} 
{{request.session.m5}}
{{request.session.day5}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift5}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count5}}
<br><br>
{{request.session.wd6}} 
{{request.session.m6}}
{{request.session.day6}},
2020 
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.shift6}} Shift
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{request.session.count6}}
<br><br>




<br><br>
