{% extends "mgmt.html" %}

{% block grid %}

{% if request.session.bounce = 1 %} 
	<script type="text/javascript">
	  $(document).ready(function(){
		  $("#myModal").modal('show');
	  });
	</script>
{% endif %}

<style>
	{% if request.session.bounce = 1 %} 
		.modal-body
			{background-color: rgb(183, 252, 149);}
		.modal-header
		{background-color: rgb(183, 252, 149);}
		.modal-footer
		{background-color: rgb(183, 252, 149);}
    .modal 
    {border-radius: 25px; }
	{% elif request.session.bounce = 2 %}
		.modal-body
			{background-color: rgb(255, 172, 172);}
		.modal-header
			{background-color: rgb(255, 172, 172);}
		.modal-footer
			{background-color: rgb(255, 172, 172);}
			.modal {
 
    border-radius: 25px; 
}

	{% endif %}
</style>

{% endblock %}


{% block content %}

{% block frame1 %}
<div class ="mainset">
<div class="frame12"  bgcolor="{{request.session.main_body_menu_color}}">

<form action="" method="post">{% csrf_token %}

<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3" style="margin-left:5%;"><b>User Name</b><br>
<input style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="user_name" type="textarea" value="{{request.session.user_logins1}}">
</th></tr>
<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3" style="margin-left:5%;"><b>Password</b><br>
<input style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="password" type="textarea"  value="{{request.session.password}}" readonly>
</th></tr>

<tr><th bgcolor="{{request.session.main_body_color}}"><br>
<font color="#000000" size ="3"  style="margin-left:5%;"><b>Department</b><br>

<select style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="department">
	<option selected = "selected">{{request.session.department}}</option>
  <option value="HR">HR</option>
	<option value="Maintenance">Maintenance</option>
	<option value="Maintenance Manager">Maintenance Manager</option>
	<option value="Production">Production</option>
	<option value="Production Manager">Production Manager</option>
	<option value="Forklift">Forklift</option>
	<option value="Quality Manager">Quality Manager</option>
  

</select>

<!-- 
<select style="font-size:14px;width:320px;height:30px;margin-left:5%;" name="manpower" onchange="this.form.submit()">
    <option selected = "selected">{{request.session.manpower}}</option>
    {% for i in MList %}
    <option value="{{ i.0 }}">{{ i.0 }}</option>
    {% endfor %}
</select> -->

</th></tr>
<tr><th bgcolor="{{request.session.main_body_color}}"><br><br>
<button style="text-align: left;width:120px;margin-left:5%;height:30px;font-size: 18px;border-style: solid;
    border-color:#A1A1A1;border-radius: 10px;background-color:rgb(211, 208, 208);" type="submit" name="one" value="-3" />
    <center><b>Update</b></center></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<button style="text-align: left;width:120px;margin-left:5%;height:30px;font-size: 18px;border-style: solid;
    border-color:#A1A1A1;border-radius: 10px;background-color:rgb(211, 208, 208);" type="submit" name="one" value="-2" />
    <center><b>Cancel</b></center></button>
    <br><br>
</th></tr>
</table>
</form>
</div>
</div>
{% endblock %}


<!-- Modal For Are you sure to Close -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><mark><font color="#000000" size ="5">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Warning
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></mark></h4>
        </div>
        <div class="modal-body" >
          <font color="#000000" size ="4">
              <p align="left">
                  <b><p>You are about to add a new user.  Is this ok?</p></b><br><br>
                  &nbsp;
                  <button style="background-color: #AAAAAA;border-radius: 10px;width:62px;height:33px;font-weight: 500;font-size:14px;align=left;" 
                  type="button" onclick="window.location.href = '{{request.session.local_toggle}}/mgmt_users_logins_add_new';">OK</button>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button style="background-color: #AAAAAA;border-radius: 10px;width:62px;height:33px;font-weight: 500;font-size:14px;" 
                  type="button" onclick="window.location.href = '{{request.session.local_toggle}}/mgmt_users_logins';">Cancel</button>
        </p>
          </font>
        </div>
        <div class="modal-footer">
          <p align="left">
          <img src="/static/media/JELogo.gif?{{TCUR}}"  style="border-radius: 25px;" height="40" width="150">
        </p>    

        </div>
      </div>
    </div>
  </div>




{% endblock %}
